{% extends 'base.html' %}
{% load static %}
{% block section %}
<section>
        <div>
            <h1 class="h1ind">Добро пожаловать на проект команды "OMG-soft" !!!</h1>
            <h2 class="h2ind">Краткое описание участников</h2>
            <ul class="ulind">
                <li>1 - <a class="ula" href="#">Галин Георгий Михайлович</a> <span class="spanul">(fronted разработчик)</span><br>
                    <img class="photo" src="{% static 'img/tema.jpg' %}" alt="jora">
                    <p>Занимался Fronted разработкой. В его задачи входило

                    </p>
                    <ul class="ulpar">
                        <li>Разработать структуру сайта</li>
                        <li>Подготовка гипер разметки к выводу данных из БД</li>
                        <li>Создание дизайна сайта</li>
                    </ul>
                </li>
                <li>2 - <a class="ula" href="">Храмов артем олегович</a> <span class="spanul">(Глав. разработчик)</span><br>
                    <img class="photo" src="{% static 'img/tema.jpg' %}" alt="">
                    <p>Занимался Fronted разработкой. В его задачи входило

                    </p>
                    <ul class="ulpar">
                        <li>Разработать структуру сайта</li>
                        <li>Подготовка гипер разметки к выводу данных из БД</li>
                        <li>Создание дизайна сайта</li>
                    </ul>
                </li>
                <li>3 - <a class="ula" href="">Лапшин Михаил Владимирович</a> <span class="spanul">(Backend разработчик)</span><br>
                    <img class="photo" src="{% static 'img/misha.jpg' %}" alt="">
                    <p>Занимался Fronted разработкой. В его задачи входило

                    </p>
                    <ul class="ulpar">
                        <li>Разработать структуру сайта</li>
                        <li>Подготовка гипер разметки к выводу данных из БД</li>
                        <li>Создание дизайна сайта</li>
                    </ul>
                </li>
                <li>4 - <a class="ula" href="">Амозов Максим Сергеевич</a> <span class="spanul">(Backend разработчик)</span><br>
                    <img class="photo" src="{% static 'img/maks.jpg' %}" alt="">
                    <p>Занимался Fronted разработкой. В его задачи входило

                    </p>
                    <ul class="ulpar">
                        <li>Разработать структуру сайта</li>
                        <li>Подготовка гипер разметки к выводу данных из БД</li>
                        <li>Создание дизайна сайта</li>
                    </ul>
                </li>
            </ul>

        </div>
    </section>
{% endblock %}







